root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
insert_final_newline = true
end_of_line = lf
charset = utf-8
max_line_length = 120

ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_package-name = disabled
ktlint_standard_import-ordering = disabled

[src/androidTest/java/**/*.kt]
ktlint_standard_no-wildcard-imports = disabled

[src/test/java/**/*.kt]
ktlint_standard_no-wildcard-imports = disabled